
.column {
  float: left;
  padding: 8px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
  
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.center2
{
	display: inline; float: center;
}